doctype html
html
  head
    title InfoTV - Hallintapaneeli
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

  body
    app
    script(src='/js/admin.bundle.js')
